var cfg = { _id: 'replName',
    members: [
        { _id: 0, host: 'priHost'}
        { _id: 1, host: 'secHost'}
        { _id: 2, host: 'arbHost'}
    ]
};

var error = rs.initiate(cfg);
printjson(error);
